
# Environment variables
.env

# Virtual environments
venv/

# Python bytecode files
__pycache__/
*.py[cod]

# Logs and temporary files
*.log
*.tmp

# IDE/editor files
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db
